<h1 class="page-title"><%= title_case(@name)  %></h1>

<%=for product <- @products do %>
    <div class="product">
        <div class="product-name"><%= product.name %></div>
        <div class="product-price"><%= product.price %></div>
    </div>
<% end %>
